/*Dar color al fondo del blog*/
body
{
background-color:rgb(219,239,223);
}
/*Dar formato al logo del blog*/
.logo
{
width:200px;
}
/*Dar formato a los enlaces de las redes sociales*/
.goo
{
width:50px;
}
.fa
{
width:50px;
}
.lin
{
width:50px;
}
.tum
{
width:50px;
}
.twi
{
width:50px;
}
.redessoc
{
float:rigth;
}
/*Dar formato a la barra de navegacion*/
.navegacion
{
background-color:rgb(44,62,80);
width:100%;
}
/*Dar formato a las columnas*/
.columna1grup
{
background-color:rgb(34,153,84);
padding-right:5px, 5px, 5px, 5px;
border-radius:5px;
}
.columna2grup
{
background-color:rgb(40,180,99);
}
/*Dar fomato a las imagenes de busqueda*/
.metimg
{
width:50%;
}
.pantimg
{
width:50%;
}
.imgblack
{
width:100px;
}
.imgjudpriest
{
width:100px;
}
imgmetNEM
{
width:100px;
}
.imgbsparanoid
{
width:100px;
}
.imgIMruntothehills
{
width:100px;
}
.imgg$rwelcometothejungle
{
width:100px;
}
.imgSmokeonthewater
{
width:100px;
}
.imgborntobewild
{
width:100px;
}
.imgwholelottalove
{
width:100px;
}
.imgwarpigs
{
width:100px;
}
.imghangar18
{
width:100px;
}
.iconobusqueda
{
width:20px;
}